.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;  /* Equivalente a flex-grow */
  padding: 20px;
  margin-left: 256px;
  width: calc(100% - 256px);
  transition: all 0.3s ease;
  background-color: white;
  color: black;
}